@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/Manrope-Medium.woff2') format('woff2'),
    url('../../assets/fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../assets/fonts/Manrope-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Manrope-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-neutral-light: hsl(220, 25%, 80%);
  --clr-neutral-med: hsl(220, 25%, 40%);
  --clr-neutral-dark: hsl(220, 25%, 20%);
  --clr-primary: hsl(336, 90%, 45%);
  --clr-primary-h: hsl(336, 60%, 40%);
  --clr-grad1: hsl(205, 100%, 75%);
  --clr-grad2: hsl(160, 100%, 75%);
  --input-border: var(--clr-neutral-light);
  --input-focus: var(--clr-neutral-medium);
  --input-success: var(--clr-grad2);
  /* typography */
  --ff-ss: Manrope, sans-serif;
  --fw-r: 400;
  --fw-b: 700;
  --fs-1: 0.75rem;
  --fs-2: 1rem;
  --fs-3: 2rem;
  --fs-4: 2.25rem;
  --fs-fluid: clamp(var(--fs-3), 2vw + 1.75rem, var(--fs-4));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: Manrope;
  background: linear-gradient(
    to bottom right,
    var(--clr-grad1),
    var(--clr-grad2)
  );
  font-size: var(--fs-2);
  color: var(--clr-neutral-med);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.article-grid {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  max-width: 80rem;
  position: relative;
}

.img-container {
  position: relative;
}

.article-img {
  object-fit: cover;
  width: 100%;
}

.github {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--clr-white);
  opacity: 0.7;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: 220ms all ease-in-out;
}

.github:hover,
.github:focus {
  opacity: 1;
}

.photo-credit {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  color: var(--clr-neutral-med);
  font-size: var(--fs-1);
  white-space: nowrap;
  z-index: 1;
}

.photo-credit a {
  transition: 220ms all ease-in-out;
}

.photo-credit a:hover {
  color: var(--clr-primary);
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
  gap: 3.25rem;
}

.logo-container {
  margin: 0.5rem 0 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background: rgba(0, 0, 0, 0.6);
  max-width: 100%;
  width: 100%;
  padding: 0.5rem 0;
  margin: 0 auto;
}
.logo-mobile {
  margin: 0 auto;
}

.article-heading {
  font-size: var(--fs-fluid);
  font-weight: var(--fw-b);
  color: var(--clr-neutral-dark);
  margin-bottom: 1.5rem;
}

.article-heading span {
  color: var(--clr-primary);
  max-width: 50ch;
}

.article-lead {
  max-width: 60ch;
}

.form {
  width: 100%;
}

.form-grid {
  display: grid;
  margin-bottom: 2rem;
}

.form-group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-group:nth-child(7) .form-label {
  margin-bottom: 0.5rem;
}

.form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-1);
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: var(--fw-b);
  color: var(--clr-neutral-dark);
}

.label-error,
.pwd-err-req {
  color: var(--clr-primary);
}

.pwd-err-req {
  font-size: var(--fs-1);
}

.form-input,
.form-select {
  padding: 0.25em 0.5em;
  border: 2px solid var(--input-border);
  border-radius: 0.25rem;
  height: 2.25rem;
  width: 100%;
}

.form-input:focus,
.form-select:focus {
  outline: 1px solid var(--clr-neutral-dark);
}

.input-valid {
  background-color: hsla(160, 100%, 75%, 0.3);
  border: 1px solid var(--clr-neutral-med);
}

.input-error {
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}

.btn {
  border: none;
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: var(--fw-b);
  border-radius: 0.25rem;
  box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.18);
  padding: 0.5em 1.25em;
  min-width: 10ch;
  min-height: 2.75rem;
  margin-bottom: 2rem;
  display: inline-block;
  width: 100%;
  transition: 220ms all ease-in-out;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.btn:hover,
.btn:active {
  background-color: var(--clr-primary-h);
}

.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 0.25rem var(--clr-primary-h);
}

.have-acct a {
  color: var(--clr-primary);
  font-weight: var(--fw-b);
  transition: color 0.2s ease-in-out;
}

.have-acct a:hover {
  color: var(--clr-primary-h);
}

.hidden {
  display: none;
}

/* Modal */
.modal {
  background-color: var(--clr-white);
  min-height: 100svh;
  max-width: 31.5rem;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.modal-content {
  padding-inline: 1rem;
}

.modal-heading {
  font-size: var(--fs-fluid);
  font-weight: var(--fw-b);
  color: var(--clr-neutral-dark);
  margin-bottom: 2.5rem;
}

.modal-para {
  margin-bottom: 1.5rem;
}

.modal-lang-choice {
  margin-bottom: 2.5rem;
}

.modal-lang {
  font-weight: var(--fw-b);
  color: var(--clr-neutral-dark);
}

@media (min-width: 48rem) {
  .logo-container {
    top: 45%;
    transform: translateY(50%);
    padding: 1.5rem 0;
  }
  .logo-mobile {
    height: 4rem;
    width: auto;
  }
  .article-content {
    padding: 3rem 2.5rem 2.5rem;
  }

  .article-heading {
    margin-bottom: 2.5rem;
  }

  .article-lead {
    font-size: 1.125rem;
  }

  .form-grid {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    column-gap: 2.5rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group:not(:last-child) {
    margin-bottom: 2.25rem;
  }

  .form-group:nth-last-child(2) {
    margin-bottom: 0;
  }

  .btn {
    width: auto;
  }
}

@media (min-width: 62rem) {
  .article-grid {
    flex-direction: row;
    align-items: stretch;
    border-radius: 0.6125rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  .img-container {
    display: flex;
    max-width: 100%;
  }

  .article-img {
    width: 100%;
    height: 100%;
  }

  .github {
    top: 1.5rem;
    right: 1.5rem;
    bottom: initial;
    left: initial;
  }

  .photo-credit {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--clr-white);
    font-size: var(--fs-1);
    white-space: nowrap;
    z-index: 1;
  }

  .pwd-err-req {
    min-height: 2.25rem;
  }

  .form-grid {
    margin-bottom: 0;
  }

  .form-group:not(:nth-last-child(2)) {
    margin-bottom: 2rem;
  }

  .form-group:nth-last-child(2) {
    margin-bottom: 1rem;
  }

  .form-group-btn .btn {
    margin-bottom: 1.5rem;
  }

  .modal {
    min-height: auto;
    border-radius: 0.6125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  .modal-content {
    padding: 2.5rem 2rem;
  }

  .modal-content .btn {
    margin-bottom: 0;
  }
}
